################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameJournal/.vs/GameJournal
/GameJournal/GameJournal/bin/Debug/netcoreapp3.1
/GameJournal/GameJournal/obj
/GameJournal/GameJournal/wwwroot/lib/twitter-bootstrap
/GameJournal/GameJournal/wwwroot/lib/jquery
